
@font-face {
    font-family:'poppins';
    src: url(/assets/fonts/Poppins/Poppins-Regular.ttf);
    font-weight: 400;    
}

:root{
        font-family: 'poppins';

}
img{
    width: 100%;
}
 .header .row{

  padding:  20px 0px;
}
.pages{
     display: flex;
    flex-wrap: wrap;
    gap: 40px ;
    text-transform: capitalize;
    
}
.profile{
     display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px ;
    color: #000000;
     font-weight: 500;
    text-transform: capitalize;
    margin: 5px 5px;
}
.menu{
    display: none;
}

.section2 .container{
    background-color:#9DCCFF4D;
    padding: 25px 0 80px ; 
}
.start{
    padding: 0 120px 0 18px;
    margin-bottom: 25px;
     
}
.start h2 {
    color: #252641;
}
.start a{
    color: #49BBBD;
   
}
.frame span{
    display: block;
    text-align: right;
    color: #00000080;

}
.frame{
    width: calc((100% - 100px )/3);
    background-color: white;
  padding: 20px ;
  border-radius: 20px;
}

.profile img {
    width: 30px;
    height: 30px;
}

.box{
     width: 80px;
    height: 80px; 
    display: flex;
     align-items: center;
     justify-content: center;
     margin: 0 auto 20px auto;
 

}
.box img{
    width: 30px;
    height: 30px;
  
  
}
.section3 #top-cat {
margin: 30px 0px;
}
 .catalog{  
    background-color:oklch(97.101% 0.00533 16.111);
     width: calc((100% - 90px )/4);
     height: 300px;
     padding:  30px 20px ;
     border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;


}
.catalog h2{
    font-size: 20px;
    color: #000000;
    margin-bottom: 15px;

}
.catalog p{
    font-size: 13px;
    color: #696984;
    text-align: center;
}
.section4 .container{
background-color:#9DCCFF4D;
padding: 25px 0 80px ; 
}
.recomend{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px;
    width: calc((100% - 150px) / 4); 
     box-sizing: border-box;
    font-size: 13px;
    }
.recomend h2{
    font-size: 15px;
    margin: 5px ;
}
.recomend .des-mon {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
       margin: 5px;
  
}
.des-mon img{
    width: 60px;
    height: 22px;
   
}
.recomend span {
color: #D9D9D9;
text-decoration: line-through;
font-size: 10px;
}
.recomend p{
    margin: 5px;
}
.recomend .profile{
    margin: 10px;
}
.price{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    align-items: center;
   

}
.price p{
font-size: 15px;
color: #49BBBD;
font-weight: 600;   
}
.section5{
    padding: 30px 0px 0px;
}
.section5 .container{
background-color:oklch(97.101% 0.00533 16.111);
padding: 25px 0 80px ; 

}
.footer{
    color: #B2B3CF;
    background-color: #252641;
   padding: 30px 400px  ;
    height: 370px;
    text-align: center; 
}
 .footer img{
  width: auto;
  height: 50px;
}
.footer-logo {
    display: flex;
        align-items: center;
            justify-content: center;
text-align: left;
    gap: 15px;
    margin-bottom: 30px;  
}
.footer-logo img{
         margin: 0 10px 0 20px ;

}
.footer p{
    margin: 15px 0 ;
    font-size: 18px;
}
.footer a{
    color: #B2B3CF;
    font-size: 15px ;
}

.footer-logo p {
width: 140px;
height: 50px;
color: #FFFFFF;
font-size: 18px;
}
#email{
    width: 270px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #83839A;
    background: transparent;
    color: #83839A;
    
}
#submit{
    padding: 13px 30px;
    border-radius: 20px;
    border: none;
    background-color: #49BBBD;
    color: #FFFFFF;
    font-weight: 500px;
    margin: 0px 15px 35px;
   
}


@media screen and (min-width:320px) and (max-width:600px) {
    .menu{
    display: block;
    }
   
    .pages{
        display: none;
    } 
    .container{
    width: calc( 100% - 40px );
    
    }
   .profile p{
     display: none;
   }
.frame p{
     display: none;
}
.frame .profile{
    display: none;

}
    .frame {
        padding: 10px;
         width: calc((100% - 30px )/3);
    }
.catalog p{
    display: none;
}
.catalog{
     width: calc((100% - 30px )/2);
     height: 100px;
     padding:  15px 10px ;
     border-radius: 10px;
    margin-bottom: 15px;
}
.section4 .container{
padding: 20px 0  ; 
}
.section5 .container{
padding: 20px 0  ; 
}

.recomend{
    border-radius: 10px;
    width: calc((100% - 50px) / 2); 
    margin: 10px 0;
    }
    .footer{
   
   padding: 10px 100px  ;
    height: 320px;
  
}
.footer img{
  height: 30px;
}
.footer-logo {
  
    gap: 10px;
    margin-bottom: 15px;  
}

.footer p{
    margin: 10px 0 ;
    font-size: 14px;
}
.footer a{
    font-size: 10px ;
}

.footer-logo p {
width: 100px;
height: 30px;

font-size: 13px;
}
#email{
    width: 150px;  
}
#submit{
    width: 90px;
    padding: 13px 15px;    
    font-weight: 500px;
   
}

}
@media screen and (min-width:601px) and (max-width:950px) {
 .menu{
    display: block;
    }
    .pages{
        display: none;
    } 
    .container{
    width: calc( 100% - 70px );
   
    }
.frame .profile{
    display: none;

}
    .frame {
        padding: 10px;
         width: calc((100% - 30px )/3);
    }
.catalog p{
    display: none;
}
.catalog{
     width: calc((100% - 40px )/2);
     height: 100px;
     padding:  15px 10px ;
     border-radius: 10px;
    margin-bottom: 15px;
}
.section4 .container{
padding: 20px 0  ; 
}
.section5 .container{
padding: 20px 0  ; 
}

.recomend{
    border-radius: 10px;
    width: calc((100% - 50px) / 2); 
    margin: 10px 0;
    }
    .footer{
   
   padding: 20px 150px  ;
    height: 320px;
  
}
.footer img{
  height: 30px;
}
.footer-logo {
  
    gap: 10px;
    margin-bottom: 15px;  
}

.footer p{
    margin: 10px 0 ;
    font-size: 16px;
}
.footer a{
    font-size: 12px ;
}

.footer-logo p {
width: 100px;
height: 30px;

font-size: 14px;
}
#email{
    width: 200px;  
}
#submit{
    width: 100px;
    padding: 13px 15px;    
    font-weight: 500px;
   
}

}